:root {
  --color-primary: #8047F8;
}

h1, h3, h4, h5{
  font-family: 'Baloo 2', cursive;
}

.font-family-baloo-2{
  font-family: 'Baloo 2', cursive;
}

.text-coffee-primary{
  color: var(--color-primary);
}

.bg-coffee-primary{
  background-color: var(--color-primary);
}
